.scroll-text {
    white-space: nowrap;
    overflow: hidden;
    display:"block";
    color: white;
  }

  .scroll-text::before {
    content: '';
    display: inline-block;
    width: 100%; /* Adjust to control start delay */
  }

  .scroll-text {
    animation: scroll 10s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  